@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');

* {
    font-family: 'Merriweather', serif;
    margin: 0; 
    padding: 0;
}

body {
	background: linear-gradient(50deg, #451664, #e73c7e, #23a6d5, #23d5ab);
	animation: gradient 10s ease infinite;
    background-size: 400% 400%;
	height: 100vh;
}
/* FULLPAGEJS CLASS */

#fp-nav ul li a span{
    background: black;
}
#fp-nav ul li .fp-tooltip{
    color: black;
}


/* NAVBAR */

.nav{
    position: fixed;
    display: flex;
    justify-content: center;
    z-index: 70;
    width: 100%;
}

.nav li,
.nav a{
    display: inline-block;
    margin: 8px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    color: white;
    transition: .8s ease;
}

.nav li.active{
   border: 4px solid black;
   border-radius: 5px;
   padding: 5px;
}

/* CARD */

.card{
    position:relative;
    width:300px;
    height:400px;
    background: #fff;
    transform-style: preserve-3d;
    transform: perspective(1000px);
    box-shadow: 10px 20px 40px black;
    z-index: 110;
    left:40%;
    transition: 2s;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px; 
}
.card:hover {
    transform: translateX(50%);
}

.card .imgBx{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1000;
    transform-origin: left;
    transform-style: preserve-3d;
    background: #000;
    transition: 2s;
    box-shadow: 10px 20px 40px black;
}
.card:hover .imgBx {
    transform: rotateY(-180deg);
}

.card .imgBx img{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}
/*
.card .imgBx video{
    backface-visibility: hidden;
}
 */
.card .imgBx img:nth-child(2){
    transform:rotateY(180deg);
}

.card .details{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    display:flex;
    padding: 10px;
    justify-content: center;
    align-items: start;
}

.card .details .content{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card .details .content h2{
    letter-spacing: 2px;
    text-align: center;
    font-weight: 700;
    line-height: 1em;
}

.card .details .content h2 span{
    letter-spacing: 2px;
    color:purple;
    font-size: 0.8em;
}
.card .details .content p{
    color: black;
    font-size: 1em;
    font-weight: 450;
}

/* MENU */

.menu li a {
    transition: all ease-out 0.2s;
}

.menu li.active a,
.menu li:hover a{
    transform: scale(1.30);
    text-shadow: white 1px 2px 5px;
    border-bottom: 2px;
    border-radius: 15px;
    padding: 0px 5px;
}


/* HEADER */

.header .container{
    text-align: center;
    position: relative;
    z-index: 99;
}

.header .titulo{
    font-size: 70px;
    text-transform: uppercase;
}

.header .container-icon{
    position: absolute;
    z-index: 99;
    bottom: 3%;
    left: 50%;
    font-size: 40px;
    animation: down-up 1s ease infinite;
}

.container-icon i{
    color: black;
}

.bg-video{
    position: absolute;
    z-index: 10;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: 100%;
    background: #000;
    background-position: center;
    background-size: contain;
    object-fit: cover;
}

/* CERTIFICATIONS */

.certifications1 h1{
    color: white;
    text-shadow: black 10px 0 10px;
    font-size: 60px;
    letter-spacing: 3px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}


/* PROJECTS */

.title-projects h1{
    color: white;
    text-shadow: black 10px 0 10px;
    font-size: 60px;
    letter-spacing: 3px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}

.projects1{
    display: flex;
    justify-content: space-evenly;
}

.projects1 .github-projects{
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 50px;
    height: 100px;
}

.projects1 .github-projects p{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 20px;
}

.projects1 .github-projects a{
    transition: 0.5s;
    color:black;
    text-decoration: none;
}

.projects1 .github-projects a:hover{
    color: white;
}

.projects1 .github-projects i{
    padding-top: 20px;
    font-size: 60px;
}

.projects1 .github-projects a:hover{
    animation: rotate3dZ 0.5s ease;
}

.projects1 img{
    border-radius: 15px;
    width: 400px;
    height: 300px;
}

.buttons{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.buttonlink{
    text-transform: uppercase;
    background: transparent;
    color: black;
    font-weight: 700;
    transition: .5s;
    border: 2px solid black;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    font-size: 1rem;
    padding: 0.75rem 1.25rem;
}

.buttons .button1{
    margin-right: 150px;
}

.buttonlink:hover {
    color: white;
    background: black;
}


/* KNOWLEDGES */

.knowled-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.knowled-container h1{
    text-shadow: black 10px 0 10px;
    font-size: 50px;
    letter-spacing: 2px;
    color: white;
    box-shadow: 20px 20;
    padding-bottom: 80px;
}

.icons-know{
    display: flex;
    justify-content: center;
    gap:40px;
}

.icons-know img{
    width: 100px;
    height: 100px;
    transition: 0.6s;
}

.icons-know img:hover{
    color: white;
    transform: scale(1.50);
}

.icons-know p{
    font-size: 19px;
    padding-top: 30px;
    font-weight: 600;
}

/* FOOTER */

.footer h1{
    color: white;
    text-shadow: black 10px 0 10px;
    font-size: 60px;
    letter-spacing: 3px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}

.contacts{
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.contacts a{
    display: block;
    width: 60px;
    height: 60px;
    background-color: black;
    color: white;
    margin: 20px;
    text-align: center;
    border-radius: 100px;
}

.contacts .linkedin{background: #23a6d5;}
.contacts .whatssap{background: #14e448;}

.contacts a i{
    font-size: 30px;
    line-height: 60px;
}

.contacts .icon-container:hover{
    animation: rotate3dY 0.5s ease;
}



/* ANIMATIONS */

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes down-up{
    0% {transform: translateY(20px);}
    25% {transform: translateY(0);}
    100% {transform: translateY(20px);}
}

@keyframes rotate3dY{
    from{
        transform: rotate3d(0,0,0,0);
    }
    to{ transform: rotate3d(0,0,1, 1080deg);
    }
}

@keyframes rotate3dZ{
    from{
        transform: rotate3d(0,0,0,0);
    }
    to{ transform: rotate3d(0,1,0, 1080deg);
    }
}